.app {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  padding-bottom: 20px;
  padding-top: 10px;
}

.tabla {
  display: grid;
  grid-template-columns: auto auto auto;
}
.item {
  border: 1px solid rgba(210, 20, 20, 0.8);
  padding: 10px;
  text-align: center;
}
